body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    
}
/*.picture {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;   
    width: fit-content;
    padding-top: 1000px;
    font-size: 2rem;
    background-color: #6366F1;
    height: 147px;
    width: 1222px;fthfthrn
}*/
.about {
    position: absolute;
    text-align: center;
    align-items: center;   
    margin-top: 73.5px;
    
}
.top-left-card {
    position: absolute;
    display: inline-block;
    background-color: red;
    width: 396px;
    height: 532px;
}
.top-center-card {
    background-color: ;
    width: 396px;
    height: 532px;
    margin-left: 413px;
}
.top-right-card {
    background-color: red;
    width: 396px;
    height: 532px;
    margin-left: 826px;
}
.bottom-left-card {
    background-color: purple;
    width: 396px;
    height: 532px;
}
.bottom-center-card {
    background-color: green;
    width: 396px;
    height: 532px;
}
.bottom-right-card {
    background-color: orange;
    width: 396px;
    height: 532px;
}



/*Make a 3x2 grid of div's (squares) that each span (396x532), that are split into 2; containing a picture placeholder that is lined up with the top of each div (396x392) on top, and and text below it. Each div sould be exactly 17px from each other and use 'margin-top' and 'margin-left' for spacing.*/