h2 {
    color: white;
    font-family: sans-serif;
}

#credits {
    background-color: #363636;
    padding-top: 50px;
    height: 350px;
    margin-top: 50px;
    position: relative;
}

.info1 {
    background-color: none;
    width: 400px;
    height: 328px;
    transform: translateY(-10%);  
}

#c1 {
    transform: translatex(-10%);  
}

.infoText1 {
    color: #CDCDCD;
    text-align: left;
    margin-left: 35px;
    font-weight: lighter;
    margin-right:50px;
    margin-bottom: 35px;
    font-family: "Alice", serif;
}

.info2 {
    background-color: none;
    width: 400px;
    height: 328px;
    margin-left: 400px;
    transform: translateY(-116%);
    text-align: left;
}

#tag {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 80px;
    font-weight: bolder;
}

.infoText2 {
    display: block;
    color: #CDCDCD;
    margin-bottom: 20.5px;
    text-decoration: underline;
    font-family: "Alice", serif;
}

#c2 {
    display: flex;
    transform: translatex(-100%);
}

.info3 {
    background-color: none;
    width: 400px;
    height: 328px;
    margin-left: 600px;
    transform: translateY(-222%);
    text-align: left;
}

.infoText3 {
    color: #CDCDCD;
    display: block;
    margin-right: 100%;
    margin-bottom: 20px;
    font-family: "Alice", serif;
}

#title1 {
    color: white;
    width: 250px;
    height: 50px;
    position: absolute;
    right: 300px;
    top: 20px;
    font-size: 30px;
}

.logo {
    width: auto;
    height: 20px;
    position: absolute;
    top: 105px;
}

#ig-logo {
    right: 465px;
    position: absolute;
    margin-bottom: 20px;
}

#in-logo {
    right: 435px;
    margin-bottom: 20px;
}

#youtube-logo {
    right:395px;
}

#tiktok-logo {
    right: 365px;
}

#title2 {
    width: 250px;
    transform: translateY(-3120%);
    margin-left: 965px;
    font-size: large;
}

.a {
    position: absolute;
}

.sub {
    width: 148px;
    height: 69px;
    position: absolute;
    right: 350px;
    bottom: 130px;
    border-radius: 5px;
    background-color:white;
    border: none;
    cursor: pointer;
    transition-duration: .5s;
    font-weight: 700;
    font-size: 16px;
}

.sub:hover {
    transition-duration: .5s;
    transform: translateY(-4.5%);  
}