h2 {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

#credits {
    background-color: #363636;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    color: #CDCDCD;
    font-family: "Alice", serif;
    text-align: left;
}

.info1, .info2, .info3, .text-box {
    width: 300px;
    margin-bottom: 50px;
}

.infoText1,
.infoText2,
.infoText3 {
    color: #CDCDCD;
    font-family: "Alice", serif;
    font-weight: lighter;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}

.infoText2,
.infoText3 {
    text-decoration: underline;
}

#tag {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 15px;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 100px;
}


.social-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.logo {
    width: 32px;
    height: 32px;
}

.email-subscription h2 {
    font-family: sans-serif;
    color: white;
    margin-bottom: 15px;
}

.sub {
    background-color: white;
    color: #010505;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
    width: 148px;
    height: 69px;
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 50px;
    transition-duration: .5s;
    font-weight: 500;
}

.sub:hover {
    background-color: #CDCDCD;
    transform: translateY(-5%);
    transition-duration: .5s;
}
