 body {
    text-align: center;
    margin: 0px;
    font-family: Arial, sans-serif;
}

input {
    width: 90%;
    height: 40px;
    margin: 1em auto;
    border-radius: 6px;
    padding: 0 10px;
    border: 2px solid #E5E5E5;
    font-size: 18px;
}

.alice-regular {
    font-family: "Alice", serif;
    font-weight: 100;
    font-style: normal;
}

#container {
    position: relative;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    flex-wrap: wrap;
    overflow: hidden;
    transition-duration: 1s;
}

#containerText {
    color: #000000;
    font-size: 24px;
    min-width: 150px;
    margin: 0.0em 0;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 4em;
}

.right-group {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-left: auto;
    margin-right: 1em;
    position: relative;
}


.headerLinks {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    background-image: linear-gradient(to right, #c4c5ff, #363899 60%, #3f40a5 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s;
}

.headerLinks:hover {
    background-position: 0;
}

.genius-button {
    width: 180px;
    height: 48px;
    background-color: #E0E7FF;
    color: #6366F1;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    transition: background-color 0.5s, color 0.5s;
    margin: 0em 0;
}

.genius-button:hover {
    color: #E0E7FF;
    background-color: #6366F1;
}

.makingOf-button {
    text-align: center;
    margin: 0.5em 0;
}

.left-button {
    width: 24px;
    height: auto;
    transition: transform 0.5s;
    cursor: pointer;
    margin-left: 2em;
}

.left-button:hover {
    transform: translateX(30%);
}

.more-button {
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1em;
    right: .8em;
    cursor: pointer;
    font-size: 16px;
    border-style: solid;
    border-radius: 6px;
    border-width: 2px;
    border-color: #E5E5E5;
    transition-duration: .5s;
}

.more-button:hover {
    transform: scale(1.2);
    transition-duration: .5s;
}

#moreDropdown {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 0px;
    text-align: left;
}

#container.expanded {
    transition-duration: .5s;
    height: auto;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
}

#container.expanded #moreDropdown {
    max-height: 200px;
    padding: 0px;
    margin-top: 0.0em;
    transition-duration: 1s;
}

#moreDropdown input[type="text"] {
    width: 93%;
    padding: 1px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition-duration: .5s;
}

#moreDropdown a {
    display: block;
    padding: 15px 0;
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition-duration: .5s;
}

#moreDropdown a:hover {
    transition-duration: .5s;
    font-size: 17px;
}

@media (max-width: 768px) {
    #container {
        flex-direction: row;
        align-items: center;
        text-align: center;
        position: relative;
    }

    #containerText {
        font-size: 18px;
        margin: 0.5em 0;
    }

    .more-button {
        display:block;
    }

    .genius-button,
    .makingOf-button {
        max-width: none;
        font-size: .7em;
    }

    .left-button {
        margin-left: 0em;
    }

    .left-group {
        gap: 0.5em;
    }

    .right-group {
        gap: 1em;
    }

    .left-button:hover {
        transform: translateX(20%);
    }
}

@media (max-width: 500px) {
    #container {
        flex-direction: row;
        align-items: center;
        text-align: center;
        width:fit-;
        position: relative;
    }

    .left-button,
    .genius-button,
    .makingOf-button {
        display: none;
    }

    .more-menu {
        display: block;
        margin-right: 1em;
    }

    .left-button:hover {
        transform: translateX(10%);
    }
}